@import "tailwindcss";

:root {
  --gunmetal: #022b3a;
  --shock-pink: #fc2bb6;
  --teal: #47bfd7;

  --lavender-web: #e1e5f2;
  --background: var(--teal);
  --foreground: var(--gunmetal);
}

@theme {
  --color-gunmetal: var(--gunmetal);
  --color-shock-pink: var(--shock-pink);
  --color-teal: var(--teal);
  --color-lavender-web: var(--lavender-web);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

} 

@media (prefers-color-scheme: dark){
  :root{
    --background: var(--gunmetal);
    --foreground: var(--lavender-web);

  }
}
